.login-form{
    border: 1px solid #dadada;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}
input{
    margin-bottom: 20px;
}

h5{
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgb(10,91,122);
}